img {
    border: 1px solid #ddd;
    border-radius: 50%;
}

.fa-linkedin-square {
    color: #0077B5;
}

.fa-github-square {
    color: #333;
}

.fa-facebook-square {
    color: #3b5998;
}

.profile-logos {
    padding-top: 50px;
}
